
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

.app{
  font-family: 'Noto Sans', sans-serif;
  
  nav{
    text-align: center;
  }

  .game{
    display: flex;
    flex-direction: column;
    align-items: center;

    .board{

      .row{
          display: flex;
          height: 50px;
          margin:10px 0;
      }

      .letter{
          flex:1;
          display: grid;
          place-items: center;
          height: 100%;
          width:40px;
          border:1px solid black;
          border-radius: 5px;
          margin:0 5px;
          text-align: center;
      }

      #disabled, #green, #yellow{
        border:0;
        color:white;
      }

      #disabled {
        background-color: #3a393c;
      }

      #green{
        background-color: #528d4e;
      }

      #yellow{
        background-color: #b49f39;
      }
    }

      .keyboard {
        margin-top:50px;
  
        .row {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 10px 0;
          height:40px;
        }
        
        .key {
          display: grid;
          place-items: center;
          width: 40px;
          height: 100%;
          margin: 0 2px;
          border-radius: 5px;
          border:1px solid black;
          cursor: pointer;

          &#big{
            width:70px;
          }
        }

        #disabled, #green, #yellow{
          border:0;
          color:white;
        }

        #disabled {
          background-color: #3a393c;
        }

        #green{
          background-color: #528d4e;
        }

        #yellow{
          background-color: #b49f39;
        }

      }
  }
  
}